.k-content {
  flex: 1;
  font-family: 'Poppins', sans-serif;
}

/* 
  url("https://www.transparenttextures.com/patterns/always-grey.png"); cuadros diagonales
  url("https://www.transparenttextures.com/patterns/batthern.png"); cuadros como de losetas
  url("https://www.transparenttextures.com/patterns/cartographer.png"); mapa de calor
  url("https://www.transparenttextures.com/patterns/hexellence.png"); geometria sutil
  url("https://www.transparenttextures.com/patterns/purty-wood.png"); madera
*/

.k-content.tiles {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: multiply;
}

.k-content.tiles::before{
  content:"";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("/images/textures/carto.png");
  opacity: 0.5;
  pointer-events: none; /* 🔥 Esto lo hace no interactivo */
  z-index: -1; /* Asegura que esté detrás */
}

.k-content.tiles.dark.darker {
  background-color: rgba(0, 0, 0, 0.3);
}

.k-content.tiles.dark::before{
  opacity:1;
}

.k-content.axion {
  background-color: rgba(0, 0, 0, 0.14);
  background-blend-mode: multiply;
  background-image: url('/images/textures/axiom.png');
}

/* url('https://www.transparenttextures.com/patterns/paper.png') */

.k-content.beige {
  background: url('/images/textures/paper.png'), var(--color-soft-white);
  color: rgb(10,25,49);
}

.k-content.blue {
  background: rgb(10, 25, 49) url('/images/textures/startdust.png');
  background-blend-mode: luminosity;
  color: white;
  --ventas-card: var(--color-blue-dark); 
  --ventas-color: var(--color-yellow);
}

.maintenance{
  position: absolute;
  width: 100%;
  margin-top: 70px;
  padding: 15px;
  background: var(--yellow-button);
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  z-index: 9998;
}

@media (max-width: 768px){
  .maintenance{
    margin-top: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Zoom Tweaks */
@media (min-width: 1200px) {
  body {
    zoom: 0.8;
  }
}
@media (min-width: 1700px) {
  body {
    zoom: 0.95;
  }
}
