.banner{
  position: relative;
  isolation: isolate;
  margin: 0 auto;
  height: clamp(800px, 125vh, 1200px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-blue-dark);
}

@media (max-width: 1199px){
  .banner{
    height: clamp(700px, 100dvh, 1200px);
  }
}

.banner::before{
  content:"";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: var(--bg);
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  z-index: -1;
  scale: 1.1;
  animation: zoom-out 5s ease-in-out 1 forwards;
}

.banner::after{
  content:"";
  position: absolute;
  inset: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-image: var(--side);
  background-size: cover;  /* instead of cover */
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(-10px 0px 20px rgba(0, 0, 0, 0.6)) drop-shadow(10px 0px 20px rgba(0, 0, 0, 0.6));
  z-index: 1;
  animation: zoom-in 4s ease-in-out 1 forwards;
}


.banner .title svg{
  margin: 0 auto;
  width: clamp(300px, 45vw, 800px);
  height: auto;
  display: block;
}

.banner .subtitle svg{
  margin: clamp(-10px, -50vw, -70px) auto;
  width: clamp(250px, 35vw, 600px);
  height: auto;
  display: block;
}

.banner .title svg path{
  fill: transparent;
  stroke: white;
  stroke-width: 0.2;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  animation: textAnimation 5s ease-in-out 1 forwards;
}

.banner .subtitle svg path{
  fill: transparent;
  stroke: var(--color-yellow-accent);
  stroke-width: 0.3;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: textAnimationSub 2s ease-in-out 1 forwards;
  animation-delay: 5s;
}