:root {
  /* Primary Colors */
  --color-blue-dark: rgb(10, 25, 49);
  --color-blue-medium: rgb(42, 69, 112);
  --color-blue-text: rgb(15, 45, 92);
  --color-link-hover: rgb(0, 153, 204);
  --color-green: rgb(18, 74, 39);

  /* Light Colors */
  --color-white: rgb(255, 255, 255);
  --color-soft-white: rgb(244, 239, 239);
  --color-soft-beige: rgb(245, 239, 224);
  --color-light-bg: rgb(220, 235, 245);
  --color-light-orange: rgb(248, 243, 231);

  /* Accent Colors */
  --color-yellow: rgb(230, 191, 37);
  --color-yellow-accent: rgb(254, 246, 184);
  --color-strong-yellow-accent: rgb(255, 255, 0);
  --color-orange-hover: rgb(218, 174, 105);
  --color-tag: rgb(27, 144, 54, 0.8);

  /* Greys */
  --color-grey: rgb(140, 119, 117);
  --color-grey-light: rgba(255, 255, 255, 0.6);

  /* Text Shadows, Borders, etc. */
  --text-shadow-light: rgba(255, 255, 255, 0.2);
  --divider-light: rgba(255, 255, 255, 1);
  --purple-button: linear-gradient(135deg, #4f46e5, #3b82f6);
  --yellow-button: linear-gradient(135deg, #fffa6d, #e2ca40);

  /* values */
  --width-df: min(1200px, 90vw);
  --diameter: 500px;
}
