---
buttonColor: beige
---

<!DOCTYPE html>

<html lang="es">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- ESTE TITULO SE DEBE DE MODIFICAR CON EL TITULO DEL ARTICULO + - KINETIA -->
    <title>{{ title }} - KINETIA</title>
    <link rel="icon" href="/images/kinetia.png" type="image/jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Explora el futuro de la creación de contenido con IA y automatización. Servicios personalizados para empresas modernas.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- HEADER -->
    {% include 'header.njk' %}
    <!-- CONTENIDO A MODIFICAR DE CARA AL ARTICULO -->
    <div class="k-content beige">
      <div class="blog-article-body">
        <div class="blog-article-header-grid">
          <div>
            <!-- TITULO DEL ARCHIVO Y UNA DESCRIPCION -->
            <h1>{{ title }}</h1>
            <p>{{ desc }}</p>
          </div>
          <div>
            <!-- AQUÍ DEBE DE IR LA IMAGEN DEL ARTICULO formato 0X-article.jpg -->
            <img src="/images/{{ img }}">
          </div>
        </div>
        <!-- LINEA DE SEPARACION PARA EL DISEÑO -->
        <hr class="separate-article">

        {{ content | safe }}
        
      </div>
      {% include 'button.njk' %}
    <!-- SOCIALS -->
      {% include 'footer.njk' %}
      <!-- END SOCIALS -->
      <script src="/scripts/general/dropdown.js"></script>
      <script src="/scripts/general/functions.js"></script>
      <script src="/scripts/general/setup.js"></script>
