</section>
      <footer class="k-socials {{ footerColor }}">
        <div class="k-socials-container">
          
          <div class="k-socials-section">
            <span class="k-socials-headers">Explora</span>
            <a href="/" class="k-socials-links"><span class="text">Inicio</span></a>
            <a href="/#products" class="k-socials-links"><span class="text">Productos</span></a>
            <a href="/sobre-nosotros/" class="k-socials-links"><span class="text">Sobre Nosotros</span></a>
            <a href="/blog/" class="k-socials-links"><span class="text">Blog</span></a>
            <a href="#newsletter" class="k-socials-links"><span class="text">Newsletter</span></a>
          </div>

          <div class="k-socials-section servicios">
            <span class="k-socials-headers">Servicios</span>
            <a class="k-socials-links" href="/agentes-de-voz-con-ia/"><span class="text">Agentes de Voz con IA</span></a>
            <a class="k-socials-links" href="/automatizacion-de-procesos-empresariales/"><span class="text">Automatización de Procesos Empresariales</span></a>
            <a class="k-socials-links" href="/automatizacion-de-reclutamiento-y-onboarding/"><span class="text">Automatización de Reclutamiento y Onboarding</span></a>
            <a class="k-socials-links" href="/generacion-de-imagenes/"><span class="text">Generación de Imágenes</span></a>
            <a class="k-socials-links" href="/generacion-de-video/"><span class="text">Generación de Videos con IA</span></a>
            <a class="k-socials-links" href="/agente-de-atencion-al-cliente/"><span class="text">Agente de atención al cliente</span></a>
            <a class="k-socials-links" href="/servicios-personalizados/"><span class="text">Servicios Personalizados</span></a>
          </div>

          <div class="k-socials-section">
            <span class="k-socials-headers">Contacta con nosotros</span>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=kinetiawork@gmail.com" target="_blank" class="k-socials-links">
              <span class="text"><strong>Correo:</strong> kinetiawork@gmail.com</span>
            </a>
            <a href="https://calendly.com/kinetiawork/30min" target="_blank" class="k-socials-links">
              <span class="text"><strong>Tel:</strong> calendly.com/kinetiawork</span>
            </a>
          </div>

        </div>

      <hr class="k-footer-line">
    
            <div class="k-socials-container-bot" style="align-items: center;">
              <div class="k-socials-icons">
                <a href="https://facebook.com//kinetia.tech" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com//kinetia.tech" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com//kinetia.tech" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
    
              <div class="k-socials-section">
                <div>© Copyright 2024, All Rights Reserved</div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- END SOCIALS -->
