</section>
          <footer class="k-socials {{ footerColor }}">
            <div class="k-socials-container">
              <div class="k-socials-section">
                <span class="k-socials-headers">Explora</span>
                <a href="/" class="k-socials-links">Inicio</a>
                <a href="/#products" class="k-socials-links">Productos</a>
                <a href="/sobre-nosotros/" class="k-socials-links">Sobre Nosotros</a>
                <a href="/blog/" class="k-socials-links">Blog</a>
              </div>

              <div class="k-socials-section servicios">
                <span class="k-socials-headers">Servicios</span>
                <a class="k-socials-links" href="/agentes-de-voz-con-ia/">Agentes de Voz con IA</a>
                <a class="k-socials-links" href="/automatizacion-de-procesos-empresariales/">Automatización de Procesos Empresariales</a>
                <a class="k-socials-links" href="/automatizacion-de-reclutamiento-y-onboarding/">Automatización de Reclutamiento y Onboarding</a>
                <a class="k-socials-links" href="/generacion-de-imagenes/">Generación de Imágenes </a>
                <a class="k-socials-links" href="/generacion-de-video/">Generación de Videos con IA</a>
                <a class="k-socials-links" href="/agente-de-atencion-al-cliente/">Agente de atención al cliente</a>
                <a class="k-socials-links" href="/servicios-personalizados/">Servicios Personalizados</a>
              </div>
          
              <div class="k-socials-section">
                <span class="k-socials-headers">Contacta con nosotros</span>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=kinetia@gmail.com"
                target="_blank" class="k-socials-links">
                <strong>Correo: </strong>
                kinetia@gmail.com
                </a>
                <a href="https://calendly.com/kinetiawork/30min" target="_blank" class="k-socials-links"><strong>
                  Tel: </strong>
                  calendly.com/kinetiawork</a>
              </div>
            </div>  
            
            <hr class="k-footer-line">
    
            <div class="k-socials-container-bot" style="align-items: center;">
              <div class="k-socials-icons">
                <a href="https://facebook.com//kinetia.tech" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com//kinetia.tech" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com//kinetia.tech" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
    
              <div class="k-socials-section">
                <div>© Copyright 2024, All Rights Reserved</div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- END SOCIALS -->
