</section>
          <footer class="k-socials {{ footerColor }}">
            <div class="k-socials-container">
              <div class="k-socials-section left">
                <span class="k-socials-headers">Explora</span>
                <a href="index.html" class="k-socials-links">Inicio</a>
              </div>
          
              <div class="k-socials-section center">
                <span class="k-socials-headers">Empresa</span>
                <a href="info.html" class="k-socials-links">Sobre Nosotros</a>
              </div>
          
              <div class="k-socials-section right">
                <span class="k-socials-headers">Recursos</span>
                <a href="blog.html" class="k-socials-links">Blog</a>
              </div>
            </div>
            
            <hr class="k-footer-line">
    
            <div class="k-socials-container-bot" style="align-items: center;">
              <div class="k-socials-icons">
                <a href="https://facebook.com//kinetia.tech" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com//kinetia.tech" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com//kinetia.tech" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
    
              <div class="k-socials-section">
                <div>© Copyright 2024, All Rights Reserved</div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- END SOCIALS -->
