
<!-- HEADER -->
    <header class="visible-header">
        <div class="left-k-header">
          <a class="head-title beb" href="/">
            <img alt="" class="head-logo" src="/images/kinetia.png" loading="lazy"> Kinetia
          </a>
        </div> 
        <div class="right-k-header">
          <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">☰</button>
          </div>
        </div>
    </header>
    <div id="dropdownContent" class="dropdown-content">
      <a href="/">Inicio</a>
      <a href="/sobre-nosotros/">Sobre Nosotros</a>
      <a href="/blog/">Blog</a>
      <button class="submenu-toggle" onclick="toggleSubmenu(event)">Servicios ▼</button>
      </div>
    </div>
    <div id="submenuContent" class="dropdown-content sub">
      <a href="/agentes-de-voz-con-ia/">Agentes de Voz con IA</a>
      <a href="/automatizacion-de-procesos-empresariales/">Automatización de Procesos Empresariales</a>
      <a href="/automatizacion-de-reclutamiento-y-onboarding/">Automatización de Reclutamiento y Onboarding</a>
      <a href="/generacion-de-imagenes/">Generación de Imágenes </a>
      <a href="/generacion-de-video/">Generación de Videos con IA</a>
      <a href="/creacion-contenido/">Agente de atención al cliente</a>
      <a href="/servicios-personalizados/">Servicios Personalizados</a>
    </div>
      <!-- END HEADER -->