
<!-- HEADER -->
    <header class="visible-header">
        <div class="left-k-header">
          <a class="head-title beb" href="/">
            <img alt="" class="head-logo" src="/images/kinetia.png" loading="lazy"> <span>Kinetia</span>
          </a>
        </div>

        <section>
          <nav class="main-nav beb">
            <a href="/">Inicio</a>
            <a href="/sobre-nosotros/">Sobre Nosotros</a>
            <a href="/blog/">Blog</a>
            <a href="#newsletter" class="newsletter">Newsletter</a>
          </nav>

          <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">☰</button>
          </div>
        </section>
        

    </header>

    <div id="dropdownContent" class="dropdown-content">
      <a href="/">Inicio</a>
      <a href="/sobre-nosotros/">Sobre Nosotros</a>
      <a href="/blog/">Blog</a>
      <button class="submenu-toggle" onclick="toggleSubmenu(event)">Servicios ▼</button>
      </div>
    </div>
    <div id="submenuContent" class="dropdown-content sub">
      <a href="/agentes-de-voz-con-ia/">Agentes de Voz con IA</a>
      <a href="/automatizacion-de-procesos-empresariales/">Automatización de Procesos Empresariales</a>
      <a href="/automatizacion-de-reclutamiento-y-onboarding/">Automatización de Reclutamiento y Onboarding</a>
      <a href="/generacion-de-imagenes/">Generación de Imágenes </a>
      <a href="/generacion-de-video/">Generación de Videos con IA</a>
      <a href="/agente-de-atencion-al-cliente/">Agente de atención al cliente</a>
      <a href="/servicios-personalizados/">Servicios Personalizados</a>
    </div>
    <div id="newsletterModal" class="newsletter-modal hidden pop">
      <div class="modal-content">
        <div class="form">
          <button class="close-btn" onclick="closeNewsletterModal()">×</button>
          <h2>Subscríbete a nuestra newsletter<span>_</span></h2>
          <p>Recibe novedades sobre IA y automatización en tu bandeja.</p>
          <form id="newsletter-form">
            <input type="email" id="email" placeholder="Tu correo electrónico" required />
            <button type="submit"><span>Subscribirme</span></button>
            <p id="newsletter-message"></p>
          </form>
        </div>
        <div class="gallery">
          <img src="/images/bp5.jpg" class="img1" alt="">
          <img src="/images/bp2.jpg" class="img2" alt="">
          <img src="/images/bp3.jpg" class="img3" alt="">
        </div>
      </div>
    </div>
    
      <!-- END HEADER -->