
<!-- HEADER -->
    <header class="visible-header">
        <div class="left-k-header">
          <a class="head-title beb" href="index.html">
            <img alt="" class="head-logo" src="/images/kinetia.png" loading="lazy"> Kinetia
          </a>
        </div> 
        <div class="right-k-header">
          <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">☰</button>
          </div>
        </div>
    </header>
    <div id="dropdownContent" class="dropdown-content">
      <a href="/">Inicio</a>
      <a href="/info.html">Sobre Nosotros</a>
      <a href="/blog.html">Blog</a>
    </div>
      <!-- END HEADER -->