<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/seoteco.css">
</head>
<body>
  <header>
    <a class="home" href="https://seoteco.com">
      <img src="images/images-card/seoteco_long.png" alt="" class="seoteco">
    </a>
  </header>
  <section class="intro">
    <div class="pfp">
      <img src="/images/images-card/pfp/{{ vcf }}-pfp.png" alt="Foto de User" class="pfp">
    </div>
    <div class="text">
      <h1>{{ nombre }}</h1>
      <p>{{ puesto }}</p>
    </div>
  </section>
  <section class="socials">
    <a href="" onclick="openLinkedIn('{{ linkedin }}', event)" style="--pos: 1" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <!-- https://x.com/pablomeve -->
    <a href="" onclick="openTwitter('{{ x }}', event)" style="--pos: 2" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="mailto:{{ correo }}" style="--pos: 3" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="/images/images-card/vcf/{{ vcf }}.vcf" download="{{ vcf }}.vcf" style="--pos: 4" target="_blank">
      <i class="fas fa-phone-alt"></i>
    </a>
  </section>
  <hr>
  <section class="kinetia-info">
    <h3 style="text-align: center;">Seoteco - Generamos Negocio a otras Empresas</h3>
    <a href="https://seoteco.com" target="_blank" class="kinetia-button">
      <img src="/images/images-card/seoteco.png" class="logo">
      <div class="title">
        <img src="images/images-card/seoteco_long.png" alt="">
      </div>
    </a>
    <button onclick="
      window.location.href = 'https://kinetia.tech';
    ">
      Produced <span>by</span>
      <div>
        <img src="/images/kinetia.png" alt="">
      Kinetia
      </div>
    </button>
  </section>

  <!-- truco -->
  <script>
  function openTwitter(username, event) {
    event.preventDefault();

    const now = new Date().getTime();
    // Intenta abrir la app de Twitter/X
    window.location = 'twitter://user?screen_name=' + username;

    // Después de 1s, si no se ha abierto, asume que no está instalada y redirige al navegador
    setTimeout(() => {
      const later = new Date().getTime();
      if (later - now < 1200) {
        window.location = 'https://x.com/' + username;
      }
    }, 1000);
  }

  function openLinkedIn(username, event) {
    event.preventDefault();

    const now = new Date().getTime();
    // Intenta abrir la app de LinkedIn (Android/iOS)
    window.location = 'linkedin://in/' + username;

    // Si no se abre la app, redirige al navegador web
    setTimeout(() => {
      const later = new Date().getTime();
      if (later - now < 1200) {
        window.location = 'https://www.linkedin.com/in/' + username;
      }
    }, 1000);
  }
</script>
</body>
</html>
