{% extends "base.njk" %}

{% block content %}
  
    <div class="k-content ventas {{ background }}">

        <section class="intro">
            <div class="text">
                <h1 class="scroll-animate-base scroll-from-left beb">{{ tituloVentas }}</h1>
                <p class="scroll-animate-base scroll-from-left">{{ descVentas }}</p>
            </div>
            <img class="scroll-animate-base scroll-from-right" src="images/{{ portada }}" alt="">
        </section>

        {{ content | safe }}

        <section class="video-container">
                <div class="video-text scroll-animate-base scroll-from-left">
                    <h2 class="beb">Video Demostración</h2>
                    <p>{{ videoDesc }}</p>
                </div>
                <video src="/images/{{ video }}" poster="/images/{{ portada }}" controls preload="auto" class="scroll-animate-base scroll-from-right" ></video>
        </section>
    </div>

    <script src="/scripts/general/ventas.js" ></script>

{% endblock %}