.k-socials{
  background-color: transparent;
  padding: 5vh 40px;
  padding-bottom: 60px;
  box-sizing: border-box;
  --color-footer: var(--color-blue-dark);
  --color-link-hover: var(--color-blue-dark);
}

.k-socials.white{
  --color-footer: var(--color-white);
  --color-link-hover: rgb(240, 221, 255);
}

.k-socials.transparent{
  padding: 0;
}

.k-socials.green{
  --color-footer: var(--color-green);
  --color-link-hover: rgb(199, 61, 100);
}

.k-socials.orange{
  --color-footer: var(--color-orange);
  --color-link-hover: rgb(221, 149, 24);
}

.k-socials.yellow{
  --color-footer: var(--color-sun);
  --color-link-hover: rgb(196, 255, 247);
}

.k-socials.pink{
  --color-footer: var(--color-pink);
  --color-link-hover: rgb(115, 28, 64);
}

.k-socials.palet{
  --color-footer: var(--color-palet);
  --color-link-hover: rgb(255, 250, 158);
}

.k-socials-container{
  color: var(--color-footer);
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.k-socials.transparent .k-socials-container,
.k-socials.transparent .k-socials-container-bot{
  max-width: 80%;
  margin: 0 auto;
}

.k-socials-container-bot{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.k-socials-section{
  color: var(--color-footer);
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.k-socials-headers{
  color: var(--color-link-hover);
  margin-top: 40px;
  margin-bottom: 5vh;
  font-size: 24px;
  font-weight: bold;
}

.k-socials-links{
  display: inline-block; 
  position: relative;
  color: var(--color-footer);
  line-height: 1;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 13px;
  margin-bottom: 3vh;
}

.k-socials-links span::after{
  content: "";
  position: absolute;
  /* border: 2px solid var(--color-link-hover); */
  background: var(--color-link-hover);
  border-radius: 10px;
  width: calc(100% + 20px);
  height: 0.35rem;
  left: -20px;
  bottom: 0;

  transform: scaleX(0);
  transform-origin: left;
  pointer-events: none;
  transition: transform .4s ease;
  opacity: 0.7;
}

.k-socials-links span {
  padding-bottom: 13px;
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.k-socials-links:hover{
  color: var(--color-footer)!important;
  text-decoration: none;
}

.k-socials-links:hover > span{
  transform: translateX(20px);
}

.k-socials-links:hover > span::after{
  transform: scaleX(1);
}

.k-socials-section.left{
  text-align: left;
}

.k-socials-section.center{
  text-align: center;
}

.k-socials-section.right{
  text-align: end;
}

.k-socials-links:hover {
  color:rgb(0, 153, 204);
}

.k-socials-icons{
  display: flex;
  gap: 20px;
}

.k-socials-icons a {
  color: var(--color-footer);
  font-size: 32px;         
  text-decoration: none;
}

.k-socials-icons a:hover {
  color: var(--color-link-hover); /* hover color effect */
}

.k-footer-line {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  margin-left: 12%;
  margin-right: 12%;
}

@media (max-width: 1200px){
  .k-socials-container{
    margin: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .k-socials-section{
    grid-column: 1;
  }

  .k-socials-section.servicios{
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .k-socials-container-bot {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 2vh;
    margin-bottom: 3rem;
  }

}

@media (max-width: 768px){

  .k-socials-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .k-socials-headers{
    font-size: 1.8rem;
    margin: 5vh auto;
  }

  .k-socials-links{
    position: initial;
    font-size: 1rem;
    width: 100%;
  }

  .k-footer-line {
    margin-left: 5%;
    margin-right: 5%;
  }

  .k-socials-icons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px){

  .k-socials{
    padding: 0;
    margin: 0;
  }
}