header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 15px;
  z-index: 1999;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.hidden-header {
  opacity: 0;
  transform: translateY(-100%);
  transition: var(--transition-fast-fade);
  top: 0;
  z-index: 999;
}

.visible-header {
  opacity: 1;
  transform: translateY(0);
}

.head-title{
  font-size: 30px;
  letter-spacing: 1.3px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6);
}

.head-logo{
  width: 45px;
  margin-right: 20px
}

/* Container for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  color: var(--color-white);
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 19px 25px;
}

/* Dropdown links container (hidden by default) */
.dropdown-content {
  position: fixed;

  top: 70px;
  right: 0;
  left: 0;
  z-index: 2000;

  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(2px) saturate(150%);

  opacity: 0;
  transform: translateX(100%);
  transition: var(--transition-fast-fade);
  overflow: hidden;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 20px 30px;         /* Bigger padding for bigger items */
  text-decoration: none;
  white-space: nowrap;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

/* .dropdown-content a:first-child{
  background-color: brown;
} */

.dropdown-content a:hover {
  color: var(--color-blue-dark);
  background-color: rgba(255,255,255,0.6);
}

.dropdown-content.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

@media (max-width: 768px){
  header{
    height: 50px;
  }

  .head-logo {
    width: 35px;
    height: auto;
    margin-right: 8px;
  }

  .head-title {
    font-size: 22px;
  }

  .dropbtn{
    font-size: 20px;
  }

  .dropdown-content {
    top: 50px;
  }

  .dropdown-content a {
    padding: 15px 20px;         /* Bigger padding for bigger items */
    font-size: 16px;            /* Make text bigger */
  }
}