.blog-article-body h1,
.blog-article-body h2,
.blog-article-body h3{
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-article-body img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-article-body{
  padding: 90px 240px;
}

.blog-article-body p{
  margin-left: 20px;
  line-height: 1.7;
  font-size: 18px;
}

.blog-article-header-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 30px;
}

.separate-article{
  border: 1.5px solid;
  margin: 60px 0px;
}

.separate-article.clear{
  color: var(--color-white);
}


@media (max-width: 1200px){

  .blog-article-body h1{
    margin-top: 70px;
    font-size: 24px;
  }

  .blog-article-body h2{
    font-size: 20px;
  }

  .blog-article-body h3{
    font-size: 18px;
  }

  .blog-article-body{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 60px;
  }

  .blog-article-body p{
    margin: 0 auto;
  }

  .blog-article-header-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}