h1, h2, h3 {
  margin-top: 0em;
  margin-bottom: 0em;
}


.info-grid{
  display: grid;
  align-items: center;
  grid-template-columns: 700px 1fr;
  padding-bottom: 30vh;
  --header-color: var(--color-blue-dark);
  --desc-color: var(--color-blue-text);
}

.goal-grid{
  display: grid;
  grid-template-columns: 1fr 750px 1fr;
  align-items: center;
  position: relative;
  --header-color: var(--color-white);
  --desc-color: var(--color-soft-beige);
  min-height: 170vh;
}

.info-grid-left, .goal-left{
  grid-column: 1;
}

.info-grid-right, .goal-center{
  grid-column: 2;
}

.goal-right{
  grid-column: 3;
  text-align: end;
}

.info-video{
  width: 100%;
  height: 140vh;
  object-fit: cover;
}

.info-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--color-blue-dark);
  overflow: visible;
}

.info-background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.info-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh;
}

.middle-block{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 60px;
  align-items: center;
  text-align: center;
}

.goal-middle{
  position: relative;
  overflow: hidden;
  padding: 50px;
  font-size: 1.85rem;
  letter-spacing: 1.5px;
  margin: 0 auto;
  width: 70%;
  transition: var(--transition-default);
  background: linear-gradient(
    170deg,
    rgba(255,255,255,0.6),
    rgba(95, 73, 73, 0.6)
  );
  backdrop-filter: blur(10px) brightness(2);
  -webkit-backdrop-filter: blur(10px) brightness(2);
  border-radius: 100px;
}

.goal-middle.scroll-animate {
  opacity: 1;
  transform: translateY(0px) scale(1);
}

.goal-middle:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 30px #000;
}

.info-pre-header{
  color: var(--desc-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

.info-header{
  color: var(--header-color);
  font-size: 68px;
  letter-spacing: 1.3px;
  padding-bottom: 40px;
}

.info-desc{
  color: var(--desc-color);
  font-size: 20px;
  line-height: 1.7;
}

.separate-info{
  border: none;
  border-top: 1px solid var(--divider-light);
  margin: 30px 10px;
}

.AIslider-container{
  padding: 200px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AIslider{
  margin: 30px auto;
  width: clamp(500px, 90%, 1400px);
  height: var(--h);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20% 90%,
    transparent
  );
  filter: grayscale(0);
}

.AIslider .list{
  display:flex;
  width: 100%;
  min-width: calc(var(--w) * var(--N));
  position: relative;
}

.AIslider .list .item{
  height: var(--h);
  width: var(--w);
  position: absolute;
  filter: grayscale(1) sepia(1) hue-rotate(207deg) saturate(3) contrast(3) brightness(0.8);
  
}

.AIslider .list.logo .item{
  left: max(100%,calc(110px * var(--N)));
  animation: autoRunL 10s linear infinite;
  animation-delay: calc( (10s / var(--N)) * (var(--pos) - 1) * -1);
}

.AIslider .list.icons .item{
  left: calc(var(--w) * -1);
  animation: autoRunR 10s linear infinite;
  animation-delay: calc( (10s / var(--N)) * (var(--pos) - 1) * -1);
}

.AIslider .list .item img{
  width: 100%;
  height: 100%;
}

@keyframes autoRunL{
  from{
    left: 100%;
  }
  to{
    left: calc(var(--w) * -1);
  }
}

@keyframes autoRunR{
  from{
    left: calc(var(--w) * -1);
  }
  to{
    left: 100%;
  }
}

/* .AIslider:hover .item{
  animation-play-state: paused !important;
  cursor:pointer;
} */

/* .AIslider .item:hover{
  filter:grayscale(0);
} */

@media (max-width: 1200px){
  .goal-grid {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  .goal-left, .goal-right{
    text-align: center;
  }
    
  .middle-block {
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
  }

  .info-grid {
    padding-top: 70px;
    padding-bottom: 9vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .info-video {
    width: auto;
    height: 55vh;
    object-fit: cover;
  }

  .info-video-container {
    height: 101%;
  }

  .AIslider .list .item{
    height: calc(var(--h) * 0.8);
    width: calc(var(--w) * 0.8);
    position: absolute;
  }

  .goal-middle{
    padding: 40px;
    font-size: 1.3rem;
    width: 100%;
  }

}



@media (max-width: 767px){

  .goal-middle{
    padding: 5vw 10vw;
    font-size: 1.5rem;
    width: max(35vw,100%);
  }

  .separate-info {
    margin: 20px 2px;
  }

  .info-block {
    padding: 9vh 6.5vw;
  }

  .info-pre-header{
    display: none;
    margin: 0 auto;
  }

  .info-header {
    font-size: 3rem;
    padding-bottom: 20px;
  }

  h1.info-header{
    font-size: 3rem;
  }

  .info-desc {
    padding: 20px;
    font-size: 1.1rem;
  }

  .AIslider{
    margin: 10px auto;
    width: 100%;
  }

  .AIslider-container{
    padding-top: 100px;
  }

  .AIslider-container h2{
    text-align: center;
    margin-bottom: 2rem;
  }

  .AIslider .list .item{
    height: calc(var(--h) * 0.7);
    width: calc(var(--w) * 0.7);
    position: absolute;
  }

}