.k-content.ventas{
    padding: 14vh 10vw;
    --a: rgb(1, 78, 156);
    --b: var(--color-blue-dark);
    --slider-x: linear-gradient(
        270deg,
        var(--a),
        var(--b),
        var(--a)
    );
    --slider-sell-color: white;
    --brightness: brightness(0.9);
}

.k-content.ventas.palet{
    color: var(--color-palet);
    --a: rgb(165, 170, 234);
    --b: var(--color-palet);
    --slider-sell-color: var(--color-blue-dark);
}

.k-content.ventas.cyan{
    color: var(--color-cyan);
    --a: rgb(18, 134, 145);
    --b: var(--color-cyan);
}

.k-content.ventas.green{
    color: var(--color-green);
    --a: rgb(14, 119, 24);
    --b: var(--color-green);
}

.k-content.ventas.orange{
    color: var(--color-orange);
    --a: rgb(192, 183, 12);
    --b: var(--color-orange);
}

.k-content.ventas.yellow{
    color: var(--color-sun);
    --a: rgb(255, 246, 151);
    --b: var(--color-sun);
    --slider-sell-color: var(--color-blue-dark);
}

.k-content.ventas.pink{
    color: var(--color-pink);
    --a: rgb(208, 34, 130);
    --b: var(--color-pink);
}


.k-content.ventas p{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
    text-align: justify;
    line-height: 1.8;
}

.k-content.ventas .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
}

.k-content.ventas h1{
    font-size: clamp(3rem, 6.5vw, 5rem);
    margin: 20px 0 0 0;
}

.k-content.ventas .intro p{
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}

.k-content.ventas .intro img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.k-content.ventas .beneficios-container{
    margin: 350px 0 125px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 9vh;
}

.k-content.ventas .beneficios-container h2{
    margin-right: 2vw;
    text-align: center;
}

.k-content.ventas .beneficios-container .slider-wrapper {
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
    width: min(1300px,100%);
    margin: 0 auto;
}

.k-content.ventas .beneficios-container .slider-wrapper .slider {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    overflow-x: auto;

    display: flex;
    gap: 1rem;
    width: 100%;
}

.k-content.ventas .beneficios-container .slider-wrapper .slider::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item {
    position: relative;
    min-width: 10%;
    flex: 0 0 85%; /* 85% del contenedor visible */
    scroll-snap-align: center;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    color: var(--slider-sell-color);
    overflow: hidden;
    cursor: pointer;
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item::before{
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    padding: 1vw;
    border-radius: 100px;
    background: var(--slider-x);
    background-size: 300% 300%;
    animation: gradientShift 4s ease infinite;
    z-index: -1;
    
}


.k-content.ventas .beneficios-container .slider-wrapper .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-soft-white);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.k-content.ventas .beneficios-container .slider-wrapper .slider-btn.left {
    left: 0
}

.k-content.ventas .beneficios-container .slider-wrapper .slider-btn.right {
    right: 0
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item span{
    display: flex;
    align-items: center;
    column-gap: 1vw;
    font-size: min(8rem, 8vw);
    font-weight: bold;
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item span span{
    font-size: min(4rem, 4vw);
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item p{
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    margin: 1.5vh auto;
    text-align: center;
    width: 70%;
    line-height: 1.3;
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item .item-content{
    transition: transform 0.6s ease, font-size 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8);
}

.k-content.ventas .beneficios-container .slider-wrapper .slider .item.active .item-content{
    transform: scale(1);
}

.k-content.ventas .process-container{
    padding: 70vh 5vw;
    height: 260px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.k-content.ventas h2{
    font-size: max(5.2vw, 2.5rem);
    text-align: center;
}

.k-content.ventas h3{
    font-size: max(1rem,2vw);
}


.k-content.ventas .process{
    align-items: stretch;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.k-content.ventas .process .item{
    padding: 1.2vw;
    border-radius: 20px;
    height: 0;
    background: var(--slider-x);
    filter: var(--brightness);
    background-size: 300% 300%;
    animation: gradientShift 4s ease infinite;
    color: var(--slider-sell-color);

    display: grid;
    grid-template-rows: 15% 1fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    flex: 0 0 min(170px, 14%);
    transition: flex-basis 0.6s ease, transform 1s ease, opacity 1s ease;
}

.k-content.ventas .process .item p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-content.ventas .process .item p,
.k-content.ventas .process .item h3{
    margin-left: 0;
    display: none;
    text-align: center;
}

.k-content.ventas .process .item:hover{
    cursor: pointer;
}

.k-content.ventas .process .item.activo,
.k-content.ventas .process .item.hovered{
    flex-basis: 22vw;
    filter: brightness(1.2);
    height: auto;
    max-height: 300px;
}

.k-content.ventas .process .item.activo + *,
.k-content.ventas .process .item.hovered + *{
    filter: brightness(1);
}

.k-content.ventas .process .item.activo + * + *,
.k-content.ventas .process .item.hovered + * + *{
    filter: brightness(0.75);
}

.k-content.ventas .process .item.activo + * + * + *,
.k-content.ventas .process .item.hovered + * + * + *{
    filter: brightness(0.6);
}
.k-content.ventas .process .item.activo + * + * + * + *,
.k-content.ventas .process .item.hovered + * + * + * + *,
.k-content.ventas .process .item.activo + * + * + * + * + *,
.k-content.ventas .process .item.hovered + * + * + * + * + *,
.k-content.ventas .process .item.activo + * + * + * + * + * + *,
.k-content.ventas .process .item.hovered + * + * + * + * + * + *{
    filter: brightness(0.4);
}

.k-content.ventas .process .item:has(+ *.activo),
.k-content.ventas .process .item:has(+ *.hovered){
    filter: brightness(1);
}
.k-content.ventas .process .item:has(+ * + *.activo),
.k-content.ventas .process .item:has(+ * + *.hovered){
    filter: brightness(0.75);
}
.k-content.ventas .process .item:has(+ * + * + *.activo),
.k-content.ventas .process .item:has(+ * + * + *.hovered){
    filter: brightness(0.6);
}
.k-content.ventas .process .item:has(+ * + * + * + *.activo),
.k-content.ventas .process .item:has(+ * + * + * + *.hovered),
.k-content.ventas .process .item:has(+ * + * + * + * + *.activo),
.k-content.ventas .process .item:has(+ * + * + * + * + *.hovered),
.k-content.ventas .process .item:has(+ * + * + * + * + * + *.activo),
.k-content.ventas .process .item:has(+ * + * + * + * + * + *.hovered){
    filter: brightness(0.4);
}

.k-content.ventas .video-container{
    width: min(1300px, 100%);
    padding: 20vw 0;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    column-gap: 10vw;
    margin: 0 auto;
}

.k-content.ventas .video-container h2{
    text-align: left;
}

.k-content.ventas .video-container .video-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.k-content.ventas .video-container video{
    border-radius: 20px;
    height: 500px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.k-content.ventas .optimize-container{
    padding-top: 0;
}

@media (max-width: 1200px){

    .k-content.ventas{
        padding: 8vh 10vw;
    }

    .k-content.ventas .intro{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .k-content.ventas .beneficios-container{
        margin: 20vh 0 20vh 0;
        row-gap: 5vh;
    }

    .k-content.ventas .process-container{
        padding: 0 5vw;
    }

    .k-content.ventas .video-container{
        padding: 30vh 0 30vh 0;
    }

    .k-content.ventas .video-container video{
        height: 70%;
    }

    .k-content.ventas .video-container .video-text h2{
        row-gap: 2vh;
    }
}

@media (max-width: 768px){

    .k-content.ventas .beneficios-container .slider-wrapper{
        padding: 0;
        overflow:visible;
    }

    .k-content.ventas .beneficios-container .slider-wrapper .slider .item span{
        font-size: min(8rem, 8vw);
    }
    
    .k-content.ventas .beneficios-container .slider-wrapper .slider .item p{
        font-size: clamp(0.9rem, 2vw, 1.5rem);
        width: 100%;
    }

    .k-content.ventas .beneficios-container .slider-wrapper .slider-btn.left {
        left: -20px;
    }
    
    .k-content.ventas .beneficios-container .slider-wrapper .slider-btn.right {
        right: -20px;
    }

    .k-content.ventas .process-container{
        row-gap: 10vh;
    }

    .k-content.ventas .process{
        height: auto;
        flex-direction: column;
        gap: 3vh;
    }

    .k-content.ventas .process .item{
        animation: showMovement 3.5s ease-in-out 1 forwards;
        animation-play-state: paused;
        animation-delay: 0.7s;
    }

    @keyframes showMovement {
        0% {
            background-position: 0% 50%;
        }
        25%{
            transform: scale(0.8);
        }
        50%{
            background-position: 100% 50%;
            transform: scale(1.3);
        }
        75% {
            transform: scale(0.8);
        }
        100%{
            background-position: 0% 50%;
            transform: scale(1);
        }
    }
    
    .k-content.ventas .process .item{
        padding: 15px;
    
        width: 1vw;
        flex: 0 0 1%;
        transition: width 0.6s ease, height 0.6s ease, transform 1s ease, opacity 1s ease;
    }

    .k-content.ventas .process .item.activo,
    .k-content.ventas .process .item.hovered{
        flex-basis: auto;
        height: auto;
        max-height: 200px;
        width: 100%;
    }

    .k-content.ventas .video-container{
        padding-top: 60vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

}