.k-content.ventas{
    padding: 120px 130px;
}

.k-content.ventas p{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.8;
}

.k-content.ventas .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
}

.k-content.ventas h1{
    font-size: 4.5rem;
    margin: 20px 0 0px 40px;
}

.k-content.ventas .intro p{
    font-size: 1.5rem;
}

.k-content.ventas .intro img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.k-content.ventas .beneficios-container{
    margin: 250px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 100px;
}

.k-content.ventas .beneficios-container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.k-content.ventas .beneficios-container .grid .item{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.k-content.ventas .beneficios-container .grid .item span{
    font-size: 8rem;
}

.k-content.ventas .beneficios-container .grid .item p{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    line-height: 1.3;
}


.k-content.ventas .process-container{
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.k-content.ventas h2{
    font-size: 4rem;
    text-align: center;
}

.k-content.ventas h3{
    font-size: 2rem;
}


.k-content.ventas .process{
    transform-style: preserve-3d;
    transform: perspective(1500px);
    --border: var(--color-blue-dark);
    display: flex;
    justify-content: center;
    gap: 30px;
}

.k-content.ventas .process.blue{
    --border: var(--color-white);
}

.k-content.ventas .process .item{
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(
    270deg,
    rgb(0, 24, 48),
    rgba(92, 0, 117, 0.85),
    rgba(103, 112, 0, 0.85)
    );
    filter: brightness(0.5);
    background-size: 600% 600%;
    animation: gradientShift 4s ease infinite;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 0 0 14%;
    transition: flex-basis 0.6s ease, transform 0.6s ease;
}

@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

/* .k-content.ventas .process .item::after{
    content: "";
    background: transparent;
    backdrop-filter: blur(10px) brightness(0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--ventas-card);
    border-radius: 20px;
    position: absolute;
    inset: 0 0 0 0;
} */


.k-content.ventas .process .item p,
.k-content.ventas .process .item h3{
    margin-left: 0;
    text-align: center;
    visibility: hidden;
}

.k-content.ventas .process .item:hover{
    cursor: pointer;
    flex-basis: 20%;
    transform: translateZ(200px);
    filter: brightness(1.2);
}

.k-content.ventas .process .item:hover + *{
    filter: brightness(1);
    transform: translateZ(100px) rotateY(20deg);
}

.k-content.ventas .process .item:hover + * + *{
    filter: brightness(0.75);
    transform: translateZ(50px) rotateY(10deg);
}

.k-content.ventas .process .item:hover + * + * + *{
    filter: brightness(0.5);
}

.k-content.ventas .process .item:has(+ *:hover){
    filter: brightness(1);
    transform: translateZ(100px) rotateY(-20deg);
}
.k-content.ventas .process .item:has(+ * + *:hover){
    filter: brightness(0.75);
    transform: translateZ(50px) rotateY(-10deg);
}
.k-content.ventas .process .item:has(+ * + * + *:hover){
    filter: brightness(0.5);
}

.k-content.ventas .video-container{
    width: 80%;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 500px auto;
    align-items: center;
    column-gap: 10vw;
    margin: 0 auto;
}

.k-content.ventas .video-container .video-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 4vh;
}

.k-content.ventas .video-container video{
    border-radius: 20px;
    height: 400px;
    width: 700px;
    object-fit: cover;
    cursor: pointer;
}

.k-content.ventas .optimize-container{
    padding-top: 0;
}