.k-content.ventas{
    padding: 14vh 10vw;
}

.k-content.ventas p{
    font-size: clamp(0.5rem, 1.4vw, 1rem);
    text-align: justify;
    line-height: 1.8;
}

.k-content.ventas .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
}

.k-content.ventas h1{
    font-size: clamp(3rem, 6.5vw, 5rem);
    margin: 20px 0 0 0;
}

.k-content.ventas .intro p{
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}

.k-content.ventas .intro img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.k-content.ventas .beneficios-container{
    margin: 350px 0 125px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 15vh;
}

.k-content.ventas .beneficios-container h2{
    margin-right: 2vw;
    text-align: right;
}

.k-content.ventas .beneficios-container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
}

.k-content.ventas .beneficios-container .grid .item{
    display: flex;
    flex-direction: column;
}

.k-content.ventas .beneficios-container .grid .item span{
    font-size: min(8rem, 8vw);
}

.k-content.ventas .beneficios-container .grid .item p{
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    margin: 0 auto;
    text-align: center;
    width: 80%;
    line-height: 1.3;
}


.k-content.ventas .process-container{
    padding: 70vh 5vw;
    height: 260px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.k-content.ventas h2{
    font-size: max(5.2vw, 2.5rem);
    text-align: center;
}

.k-content.ventas h3{
    font-size: max(1rem,2vw);
}


.k-content.ventas .process{
    align-items: stretch;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.k-content.ventas .process .item{
    padding: 1.2vw;
    border-radius: 20px;
    height: 0;
    background: linear-gradient(
    270deg,
    rgb(1, 78, 156),
    var(--color-blue-dark),
    rgb(1, 78, 156)
    );
    filter: brightness(0.5);
    background-size: 300% 300%;
    animation: gradientShift 4s ease infinite;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    flex: 0 0 min(170px, 14%);
    transition: flex-basis 0.6s ease, transform 1s ease, opacity 1s ease;
}

.k-content.ventas .process .item p,
.k-content.ventas .process .item h3{
    margin-left: 0;
    text-align: center;
    display: none;
}

.k-content.ventas .process .item:hover{
    cursor: pointer;
}

.k-content.ventas .process .item.activo,
.k-content.ventas .process .item.hovered{
    flex-basis: 22vw;
    filter: brightness(1.2);
    height: 260px;
}

.k-content.ventas .process .item.activo + *,
.k-content.ventas .process .item.hovered + *{
    filter: brightness(1);
}

.k-content.ventas .process .item.activo + * + *,
.k-content.ventas .process .item.hovered + * + *{
    filter: brightness(0.75);
}

.k-content.ventas .process .item.activo + * + * + *,
.k-content.ventas .process .item.hovered + * + * + *{
    filter: brightness(0.5);
}

.k-content.ventas .process .item:has(+ *.activo),
.k-content.ventas .process .item:has(+ *.hovered){
    filter: brightness(1);
}
.k-content.ventas .process .item:has(+ * + *.activo),
.k-content.ventas .process .item:has(+ * + *.hovered){
    filter: brightness(0.75);
}
.k-content.ventas .process .item:has(+ * + * + *.activo),
.k-content.ventas .process .item:has(+ * + * + *.hovered){
    filter: brightness(0.5);
}

.k-content.ventas .video-container{
    width: min(1300px, 100%);
    padding: 20vw 0;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    column-gap: 10vw;
    margin: 0 auto;
}

.k-content.ventas .video-container h2{
    text-align: left;
}

.k-content.ventas .video-container .video-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.k-content.ventas .video-container video{
    border-radius: 20px;
    height: 400px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.k-content.ventas .optimize-container{
    padding-top: 0;
}

@media (max-width: 1200px){

    .k-content.ventas{
        padding: 8vh 10vw;
    }

    .k-content.ventas .intro{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .k-content.ventas .beneficios-container{
        margin: 20vh 0 20vh 0;
        row-gap: 5vh;
    }

    .k-content.ventas .process-container{
        padding: 0 5vw;
    }

    .k-content.ventas .video-container{
        padding: 20vh 0 0 0;
    }

    .k-content.ventas .video-container video{
        height: 70%;
    }

    .k-content.ventas .video-container .video-text h2{
        row-gap: 2vh;
    }
}

@media (max-width: 768px){
    .k-content.ventas .process{
        height: auto;
        flex-direction: column;
        gap: 3vh;
    }
    
    .k-content.ventas .process .item{
        padding: 15px;
        filter: brightness(0.5);
        background-size: 300% 300%;
        animation: gradientShift 4s ease infinite;
        color: white;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
        width: 2vw;
        flex: 0 0 10%;
        transition: width 0.6s ease, height 0.6s ease, transform 1s ease, opacity 1s ease;
    }

    .k-content.ventas .process .item.activo,
    .k-content.ventas .process .item.hovered{
        flex-basis: auto;
        height: 15vh;
        width: 100%;
        max-height: 1000px;
    }

    .k-content.ventas .video-container{
        padding-top: 50vh;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .k-content.ventas .video-container h2,
    .k-content.ventas .video-container p{
        text-align: center;
    }
}