---
title: "Kinetia - Ventas"
layout: 'ventas.njk'
footerColor: 'transparent pink'
buttonColor: 'transparent pink'
background: 'tiles dark'
tituloVentas: "Automatización de redes sociales"
descVentas: "Automatizamos la publicación de contenido en tus redes sociales como Instagram, X, LinkedIn y Facebook. Generamos copys atractivos con IA, seleccionamos imágenes personalizadas y programamos publicaciones desde una base de datos estructurada. Todo el contenido se adapta a cada canal y puede alinearse con campañas, lanzamientos o fechas clave. Nuestra solución reduce el esfuerzo manual al mínimo, garantiza consistencia visual y textual, y mejora tu presencia digital."
video: "01-3.mp4"
portada: "bp5.jpg"
theme: 'pink'
---

<section class="beneficios-container">
    <h2 class="scroll-animate-base scroll-from-right beb">Beneficios para tu empresa</h2>
    <div class="slider-wrapper">
        <div class="slider" id="beneficiosSlider">
            <button class="slider-btn left" onclick="slide('left')">&#10094;</button>
            <div class="item scroll-animate-base scroll-from-top active">
                <div class="item-content">
                    <span>80% <span>▼</span></span>
                    <h3>Ahorro de tiempo</h3>
                    <p>Reduce hasta un 80% del tiempo invertido en planificación y publicación manual.</p>
                </div>
            </div>
            <div class="item scroll-animate-base scroll-from-top">
                <div class="item-content">
                    <span>50% <span>▲</span></span>
                    <h3>Incremento del alcance</h3>
                    <p>Aumenta tu alcance orgánico en redes hasta en un 50% gracias a la regularidad y optimización de contenidos.</p>
                </div>
            </div>
            <div class="item scroll-animate-base scroll-from-top">
                <div class="item-content">
                    <span> <span></span>➚</span>
                    <h3>Escalabilidad del marketing</h3>
                    <p>Permite escalar tu estrategia en redes sin aumentar tu equipo ni externalizar.</p>
                </div>
            </div>
            <!-- <div class="item scroll-animate-base scroll-from-top">
                <div class="item-content">
                    <span>90% <span>▲</span></span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique, ante id fringilla convallis, urna ligula imperdiet erat, ut vulputate est urna eget neque. Morbi semper purus quis ultricies viverra. Nulla vel ante pretium, aliquam tortor quis, consequat enim. Nunc vestibulum eu justo eu eleifend. elit.</p>
                </div>
            </div> -->
            <button class="slider-btn right" onclick="slide('right')">&#10095;</button>
        </div>
    </div>
</section>

<section class="process-container">
    <h2 class="scroll-animate-base scroll-from-top beb">Proceso de implementación</h2>
    <div class="process scroll-animate-base scroll-from-top {{background}}">
        <div class="item">
            <h3>Análisis de objetivos y canales</h3>
            <p>Definimos tu estrategia social según tus metas.</p>
        </div>
        <div class="item">
            <h3>Generación de contenido con IA</h3>
            <p>Creamos copys e imágenes alineados con tu marca.</p>
        </div>
        <div class="item">
            <h3>Organización en base de datos</h3>
            <p>Gestionamos todo el calendario en una interfaz clara.</p>
        </div>
        <div class="item">
            <h3>Automatización con Make</h3>
            <p>Programamos publicaciones y flujos de trabajo automatizados.</p>
        </div>
        <div class="item">
            <h3>Revisión con Metricool</h3>
            <p>Medimos resultados para seguir optimizando.
            </p>
        </div>
    </div>
</section> 