---
title: "Kinetia - Blog"
layout: 'base.njk'
footerColor: 'white'
buttonColor: 'blue'
---

      <div class="k-content blue blog">
        <main>
        <div class="blog-intro">
          <h1 class="blog-title beb">Blogs</h1>
          <h2 class="blog-subtitle">Aquí podrás ver los últimos árticulos relacionados con la creación de contenido con IA dentro de Kinetia</h2>

          <div class="blog-intro-grid">
            <div class="blog-intro-grid-left">
              <img src="" alt="Gradual Load" class="blog-head-photo">
            </div>
            <div class="blog-intro-grid-text">
              <div class="blog-intro-grid-text-top">
                <a href="/blog/" class="blog-link">Blog</a>
              </div>
              <div class="blog-intro-grid-text-middle">
                <h2 class="blog-intro-header"></h2>
                <p class="blog-intro-desc"></p>
              </div>
              <div class="blog-intro-grid-text-bot">
                <a href="#" class="blog-button">Leer Más</a>
              </div>
            </div>
          </div>

          <div class="blog-articles-title">
            <h2 class="blog-articles-header beb">Artículos Recientes</h2>
            <div class="blog-search-container">
              <button class="blog-reset">⟳</button>
              <input type="text" id="searchBar" class="blog-search" placeholder="Buscar...">
            </div>
          </div>

          <hr class="blog-separate">
          <div class="blog-articles-grid"></div>
          <div class="articles-bar">
            <div class="page">
              <button class="pagination"></button>
              <button class="prev-page" disabled>Anterior</button>
              <button class="next-page">Siguiente</button>
            </div>
            <button class="show">Mostrar todos</button>
          </div>
        </div>
      </main>

      <hr class="blog-separate">

      <section class="spam-newsletter">
        <div class="modal-content">
          <div class="form">
            <h2>Subscríbete a nuestra Newsletter</h2>
            <p>Recibirás novedades sobre inteligencia artificial y como tu negocio puede beneficiarse de ella.</p>
            <form id="newsletter-form">
              <input type="email" id="email" placeholder="Tu correo electrónico" required />
              <button type="submit"><span>Subscribirme</span></button>
              <p id="newsletter-message"></p>
            </form>
          </div>
          <div class="gallery">
            <img src="/images/bp5.jpg" class="img1" alt="">
            <img src="/images/bp2.jpg" class="img2" alt="">
            <img src="/images/bp3.jpg" class="img3" alt="">
          </div>
        </div>
      </section>

      <hr class="blog-separate">

        <!-- CALL TO ACTION -->
    <!-- END SOCIALS -->
    <script src="scripts/general/dropdown.js"></script>
    
    <script src="scripts/general/blog.js"></script>
