---
title: "Kinetia - Sobre Nosotros"
layout: 'base.njk'
footer-color: 'blue'
buttonColor: 'beige'
---

      <div class="k-content beige">
        <!-- QUIÉNES SOMOS -->
        <section class="info-grid">
          <div class="info-grid-left">
            <div class="info-block">
              <h3 class="info-pre-header scroll-animate-base scroll-from-left">Profesionales Ante Clientes y Compañías</h3>
              <h1 class="info-header scroll-animate-base scroll-from-left">¿Quiénes Somos?</h1>
              <p class="info-desc scroll-animate-base scroll-from-left">
                En <span style="font-weight: bold;">KINETIA</span>, somos líderes en la creación de soluciones de automatización con <span style="font-weight: bold;">Inteligencia Artificial</span> (IA) diseñadas para impulsar la eficiencia y la innovación en negocios de todos los tamaños. Con un enfoque en la <span style="font-weight: bold;">personalización</span> y la <span style="font-weight: bold;">optimización de procesos</span>, ayudamos a nuestros clientes a transformar sus operaciones y maximizar su productividad.
              </p>
            </div>
          </div>
          <div class="info-grid-right scroll-animate-base scroll-from-right">
            <video autoplay muted loop class="info-video">
              <source src="images/01-1-info.mp4" type="video/mp4">
            </video>
          </div>
        </section>
  
        <!-- POR QUÉ Y MISIÓN -->
        <section class="goal-grid">
          <div class="info-video-container">
            <video autoplay muted loop class="info-background-video">
              <source src="images/02-info.mp4" type="video/mp4">
            </video>
          </div>
          <div class="goal-left">
            <div class="info-block">
              <h2 class="info-header scroll-animate-base scroll-from-left">¿Por Qué Elegirnos?</h2>
              <div class="info-desc scroll-animate-base scroll-from-left">
                En KINETIA, nos diferenciamos por nuestro compromiso con la excelencia y la autenticidad. Cada proyecto que emprendemos está respaldado por un profundo conocimiento del mercado y una pasión por la tecnología que se refleja en los resultados que entregamos.
              </div>
              <hr class="separate-info scroll-animate-base scroll-from-left">
              <div class="info-desc scroll-animate-base scroll-from-left">
                Nos asociamos con nuestros clientes para comprender sus desafíos únicos y desarrollar soluciones que no solo cumplen, sino que superan sus expectativas.
              </div>
            </div>
          </div>
          <div class="goal-center">
            <div class="middle-block">
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Experiencia y Conocimiento</h3>
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Soluciones Personalizadas</h3>
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Resultados Tangibles</h3>
            </div>
          </div>
          <div class="goal-right">
            <div class="info-block">
              <h2 class="info-header scroll-animate-base scroll-from-right">Nuestra Misión</h2>
              <div class="info-desc scroll-animate-base scroll-from-right">
                Nuestra misión es empoderar a las empresas a través de <span style="font-weight: bold;">tecnologías avanzadas de IA</span>, proporcionando herramientas que no solo <span style="font-weight: bold;">automatizan</span> tareas repetitivas, sino que también ofrecen <span style="font-weight: bold;">insights estratégicos</span> para la toma de decisiones informadas.
              </div>
              <hr class="separate-info scroll-animate-base scroll-from-right">
              <div class="info-desc scroll-animate-base scroll-from-right">
                Creemos en el poder de la IA para permitir que los equipos se centren en lo que realmente importa:
              </div>
              <div style="margin-top: 30px;"></div>
              <div class="info-desc scroll-animate-base scroll-from-right">
                <span style="font-size: 28px; font-weight: bold;">La Creatividad y la Innovación</span>
              </div>
            </div>
          </div>
        </section>

        <section class="AIslider-container">
          <div class="AIslider scroll-animate-base scroll-from-right" style="
            --w: 150px;
            --h: 65px; 
            --N: 6;
          ">
            <div class="list logo">
              <div class="item" style="--pos:1"><img src="images/logos/logo1.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo2.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo10.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo14.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo17.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:6"><img src="images/logos/logo18.png?v=1744385732" alt=""></div>
            </div>
          </div>
          <div class="AIslider scroll-animate-base scroll-from-left" style="
            --w: 110px;
            --h: 110px; 
            --N: 7;
          ">
            <div class="list icons">
              <div class="item" style="--pos:1"><img src="images/logos/logo3.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo7.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo8.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo9.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo11.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:6"><img src="images/logos/logo12.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:7"><img src="images/logos/logo15.png?v=1744385732" alt=""></div>
            </div>
          </div>
          <div class="AIslider scroll-animate-base scroll-from-right" style="
            --w: 150px;
            --h: 100px; 
            --N: 5;
          ">
            <div class="list logo">
              <div class="item" style="--pos:1"><img src="images/logos/logo4.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo5.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo6.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo16.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo13.png?v=1744385732" alt=""></div>
            </div>
          </div>
        </section>
  
    <!-- END SOCIALS -->
    <script src="scripts/general/dropdown.js"></script>
    
