---
title: "Kinetia - Sobre Nosotros"
layout: 'base.njk'
footer-color: 'blue'
buttonColor: 'beige'
---

      <div class="k-content beige">
        <main>
        <!-- QUIÉNES SOMOS -->
        <section class="info-grid">
          <div class="info-grid-left">
            <div class="info-block">
              <h3 class="info-pre-header scroll-animate-base scroll-from-left">Profesionales Ante Clientes y Compañías</h3>
              <h1 class="info-header scroll-animate-base scroll-from-left beb">¿Quiénes Somos?</h1>
              <p class="info-desc scroll-animate-base scroll-from-left">
                En <span style="font-weight: bold;">KINETIA</span>, somos una empresa emergente que está marcando el camino en el sector de los servicios con <strong>Inteligencia Artificial (IA)</strong>. Nuestra pasión por la tecnología, junto con una visión clara de transformación digital, nos posiciona como un socio confiable para empresas que buscan soluciones innovadoras, personalizadas y seguras.
              </p>
            </div>
          </div>
          <div class="info-grid-right scroll-animate-base scroll-from-right">
            <video autoplay muted loop class="info-video">
              <source src="images/01-1-info.mp4" type="video/mp4">
            </video>
          </div>
        </section>
  
        <!-- POR QUÉ Y MISIÓN -->
        <section class="goal-grid">
          <div class="info-video-container">
            <video autoplay muted loop class="info-background-video">
              <source src="images/02-info.mp4" type="video/mp4">
            </video>
          </div>
          <div class="goal-left">
            <div class="info-block">
              <h2 class="info-header scroll-animate-base scroll-from-left beb">¿Por Qué Elegirnos?</h2>
              <div class="wrapper scroll-animate-base scroll-from-left">
                <div class="info-desc ">
                  En <strong>KINETIA</strong>, nos destacamos por ofrecer más que soluciones: <strong>ofrecemos confianza</strong>. Sabemos lo que significa delegar procesos estratégicos, por eso cada uno de nuestros proyectos está guiado por el modelo de nuestra compañia:
                </div>
                <hr class="separate-info ">
                <div class="info-desc ">
                  Desarrollamos sistemas bajo estándares de protección de datos y ciberseguridad que garantizan la integridad de tus operaciones.
                  Nuestro trabajo no termina con la entrega; lo medimos, lo optimizamos y lo escalamos contigo.
                </div>
              </div>
                
            </div>
          </div>
          <div class="goal-center">
            <div class="middle-block beb">
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Experiencia y Conocimiento</h3>
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Soluciones Personalizadas</h3>
              <h3 class="goal-middle scroll-animate-base scroll-from-bottom">Resultados Tangibles</h3>
            </div>
          </div>
          <div class="goal-right">
            <div class="info-block">
              <h2 class="info-header scroll-animate-base scroll-from-right beb">Nuestra Misión</h2>
              <div class="wrapper scroll-animate-base scroll-from-right">
                <div class="info-desc ">
                  Nuestra misión es acercar la inteligencia artificial a las empresas, sin importar su tamaño o sector, para que puedan aprovechar su máximo potencial. A través de tecnología avanzada, buscamos automatizar lo repetitivo, proteger lo sensible y liberar a los equipos para que se enfoquen en lo que realmente importa: crear, decidir e innovar.
                </div>
                <hr class="separate-info">
                <div class="info-desc">
                  Adaptamos cada solución a la realidad, desafíos y metas de tu empresa. Nada genérico, todo pensado para ti.
                </div>
              </div>
              
            </div>
          </div>
        </section>

        <section class="AIslider-container">
          <h2 class="info-header scroll-animate-base scroll-from-top beb">Recursos que utilizamos</h2>
          <div class="AIslider scroll-animate-base scroll-from-right" style="
            --w: 150px;
            --h: 65px; 
            --N: 6;
          ">
            <div class="list logo">
              <div class="item" style="--pos:1"><img src="images/logos/logo1.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo2.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo10.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo14.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo17.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:6"><img src="images/logos/logo18.png?v=1744385732" alt=""></div>
            </div>
          </div>
          <div class="AIslider scroll-animate-base scroll-from-left" style="
            --w: 110px;
            --h: 110px; 
            --N: 7;
          ">
            <div class="list icons">
              <div class="item" style="--pos:1"><img src="images/logos/logo3.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo7.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo8.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo9.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo11.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:6"><img src="images/logos/logo12.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:7"><img src="images/logos/logo15.png?v=1744385732" alt=""></div>
            </div>
          </div>
          <div class="AIslider scroll-animate-base scroll-from-right" style="
            --w: 150px;
            --h: 100px; 
            --N: 5;
          ">
            <div class="list logo">
              <div class="item" style="--pos:1"><img src="images/logos/logo4.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:2"><img src="images/logos/logo5.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:3"><img src="images/logos/logo6.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:4"><img src="images/logos/logo16.png?v=1744385732" alt=""></div>
              <div class="item" style="--pos:5"><img src="images/logos/logo13.png?v=1744385732" alt=""></div>
            </div>
          </div>
        </section>
      </main>
        
  
    <!-- END SOCIALS -->
    <script src="scripts/general/dropdown.js"></script>
    
