
.k-socials{
  background-color: rgb(255, 255, 255);
  color: rgb(10, 25, 49);
  padding: 40px 20px;
  box-sizing: border-box;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.k-socials-container{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.k-socials-container-bot{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.k-socials-section{
  display: flex;
  flex-direction: column;
}

.k-socials-section.left{
  text-align: left;
}

.k-socials-section.center{
  text-align: center;
}

.k-socials-section.right{
  text-align: end;
}

.k-socials-headers{
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: bold;
}

.k-socials-links{
  margin-bottom: 5px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(10, 25, 49);
}

.k-socials-links:hover {
  color:rgb(0, 153, 204);
}

.k-socials-icons{
  display: flex;
  gap: 20px;
}

.k-socials-icons a {
  color: rgb(10, 25, 49); 
  font-size: 32px;         
  text-decoration: none;
}

.k-socials-icons a:hover {
  color:rgb(0, 153, 204);          /* hover color effect */
}

.k-bottom-footer {
  padding: 20px;
}

.k-footer-line {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-left: 12%;
  margin-right: 12%;
}